// fonts 

$font-default: 'Brandon Grotesque Bold';
$font-Yanone: 'Yanone Kaffeesatz', sans-serif;


// Color

$color-white: #fff;
$color-ligthgray: #f5f5f5;
$color-stronggray: #ccc;
$color-darkgray: #4b4b4b;
$color-gray: #969696;
$color-violet: #61279e;
$color-pink: #e1359a;
$colir-lightpink: #fe82cb;
$color-pinterest: #d13139;
$color_fb: #3b5998;
$color-twiter: #80d9f6;
$color-tumblr: #385060;
$color-insta: #436e90;
$color-youtube: #ce2627;
$color-googleplus: #dd4313;
$color-opacity-gray: rgba(255, 255, 255, 0.5);

// Animation

$transition-base: .3s ease;